---
layout: base.template.njk
---

{% import "macros.njk" as macros %}

{% block main %}
  <div class="px-4 py-6 bg-gray-50">
    <ul class="flex flex-wrap justify-center">
    {% for tag in ( collections | keys | exclude(['all']) | sort ) -%}
      <li class="inline-block mb-1 mr-2">{{ macros.tag(tag) }}</li>
    {%- endfor %}
    </ul>
  </div>
{% endblock %}
