---
layout: base.template.njk
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
permalink: /blog/tags/{{ tag | slug }}/
---

{% import "macros.njk" as macros %}

{% set taglist = collections[ tag ] %}

{% block main -%}

<div class="px-4 py-6 font-serif text-center bg-gray-50">
  <h1 class="lowercase">#{{ tag }}</h1>
  <div class="text-sm text-gray-400">{{ taglist | length }} post
  {%- if (taglist | length) > 1 %}s{% endif %}</div>
</div>

<div class="__posts_of_tag-{{ tag | lower }} grid md:grid-cols-3 lg:grid-cols-4 gap-8 __section-white">
  {% for post in taglist | reverse -%}
  <div>
    {{ macros.postwidget(post) }}
  </div>
  {%- endfor %}
</div>

<div class="px-4 py-6 bg-gray-50">
  {% include "list-of-tags.njk"%}
</div>

{%- endblock %}
