<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link href="/css/global.css" rel="stylesheet" />
    <script src="https://unpkg.com/feather-icons"></script>

    <link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@10.7.1/styles/tomorrow-night.min.css">
    <script src="https://unpkg.com/@highlightjs/cdn-assets@10.7.1/highlight.min.js"></script>
    <script src="https://unpkg.com/@highlightjs/cdn-assets@10.7.1/languages/typescript.min.js"></script>

    <title>Niklaas Baudet von Gersdorff</title>
  </head>
  <body class="text-gray-800">
    <header>
      <div
        class="fixed inset-x-0 top-0 z-10 w-full bg-white h-14"
      >
        <div class="flex items-center justify-between max-w-screen-lg lg:mx-auto">
          <div class="font-medium">
            <a href="/">
              <span class="inline-block p-4 font-uppercase sm:hidden">Niklaas</span>
              <span class="hidden p-4 sm:inline-block"
                >Niklaas Baudet von Gersdorff</span
              >
            </a>
          </div>
          <ul class="pr-1">
            <li class="inline-block px-3 py-4">Portfolio</li>
            <li class="inline-block px-3 py-4"><a href="/#contact">Contact</a></li>
            <li class="inline-block px-3 py-4">Blog</li>
          </ul>
        </div>
      </div>
    </header>

    <main class="max-w-screen-lg mt-14 lg:mx-auto">
      {% block main -%}
      {{- content | safe -}}
      {%- endblock %}
    </main>

    <footer class="px-4 py-12 text-gray-400 bg-gradient-to-b from-white to-gray-50 divide-y max-w-screen-lg lg:mx-auto lg:mt-12">
      <p class="mb-8 text-center">
        &raquo;To fulfil your potential, help others to fulfil theirs.&laquo;
        <span class="whitespace-nowrap">&mdash; Simon Sinek</span>
      </p>
      <div class="items-center justify-between pt-8 sm:flex">
        <div
          class="flex items-center justify-center order-2 sm:jusitfy-between space-x-4"
        >
        <a class="block p-4" href="https://www.github.com/niklaas">
          <i data-feather="github"></i>
        </a>
        <a class="block p-4" href="https://www.linkedin.com/in/niklaas">
          <i data-feather="linkedin"></i>
        </a>
        <a class="block p-4" href="https://www.instagram.com/nik1aa5/">
          <i data-feather="instagram"></i>
        </a>
        </div>
        <div class="order-1 mt-4 text-sm text-center sm:mt-0">
          &copy; 2021 Niklaas Baudet von Gersdorff
        </div>
      </div>
    </footer>
    <script>
      feather.replace();
      hljs.highlightAll();
    </script>
  </body>
</html>
