---
layout: "base.template.njk"
---

{%- import "macros.njk" as macros -%}

{% block main %}
<article>
  <header class="px-4 py-6 font-serif bg-gray-50 lg:rounded-b">
    <div class="text-center text-gray-600">
      <time datetime="{{ page.date.toISOString() }}">{{ page.date.toLocaleDateString('en-US', { day: 'numeric', month: 'short', year: 'numeric' }) }}</time>
      <span aria-hidden="true">&middot;</span>
      <span>{{ macros.readtime(content) }}</span>
    </div>
    <ul class="flex flex-wrap justify-center text-gray-400 lowercase">
      {% for tag in tags %}
      <li class="block m-1 italic"><a href="/tags/{{ tag }}/">#{{ tag }}</a></li>
      {% endfor %}
    </ul>
  </header>

  <main class="px-4 mx-auto my-4 prose md:my-8">
    <h1 class="text-center">{{ title }}</h1>
    {{ content | safe }}
  </main>

  <footer class="flex justify-between py-12 bg-gray-50 place-items-center lg:rounded">
    {% set previousPost = collections.blog | getPreviousCollectionItem(page) %}
    {% set nextPost = collections.blog | getNextCollectionItem(page) %}
    <a class="flex w-1/2 p-4 place-items-center space-x-3" href="{{ previousPost.url }}">
    {% if previousPost %}
      <div>&larr;</div>
      <div>{{ previousPost.data.title | truncate(32) }}</div>
    {% endif %}
    </a>
    <a class="flex justify-end w-1/2 p-4 place-items-center space-x-3" href="{{ nextPost.url }}">
    {% if nextPost %}
      <div>{{ nextPost.data.title | truncate(32) }}</div>
      <div>&rarr;</div>
    {% endif %}
    </a>
  </footer>
</article>
{% endblock%}
