{% macro readtime(words) -%}
  {{ words | wordcount //130 }} mins read
{%- endmacro %}

{% macro postwidget(post) -%}
<article class="__blog-entry">
  <ul class="flex flex-wrap text-sm text-gray-500">
    {% for name in ( post.data.tags | sort ) -%}
    <li class="inline-block mr-2">{{ tag(name) }}</li>
    {%- endfor %}
  </ul>
  <a href="{{ post.url }}" class="block mt-1">
    <p class="font-serif text-xl font-medium">
    {{ post.data.title }}
    </p>
    {% if post.data.excerpt %}
    <p class="mt-3 text-base text-gray-600">
      {{ post.data.excerpt | safe }}
    </p>
    {% endif %}
  </a>
  <div class="flex mt-3 text-sm text-gray-500 space-x-1">
    <time datetime="{{ post.date.toISOString() }}">{{ post.date.toLocaleDateString('en-US', { day: 'numeric', month: 'short', year: 'numeric' }) }}</time>
    <span aria-hidden="true"> &middot; </span>
    <span>{{ readtime(post.templateContent) }}</span>
  </div>
</article>
{%- endmacro %}

{% macro tag(name) -%}
  <span class="lowercase __tag">
    <a href="/tags/{{ name | lower | replace(" ", "-") }}/">
    <span aria-hidden="true" class="text-gray-400">#</span
    ><span>{{ name  }}</a>
  </span>
{%- endmacro %}
