{% extends "logos.template.njk" %}

{% block title %}Skills{% endblock %}

{%- block description -%}
These are technologies and tools I endorse and feel most comfortable with. If
you assign me to projects that use them, I will feel at home in the blink of an
eye.
{%- endblock %}

{% block logos %}
<div data-skill="Angular" class="w-16 -mx-4"><a href="https://www.angular.io">{% image "https://angular.io/assets/images/logos/angular/angular.svg", "Angular logo", "20vw" %}</a></div>
<div data-skill="Git" class="w-16"><a href="https://www.git-scm.com">{% image "https://upload.wikimedia.org/wikipedia/commons/3/3f/Git_icon.svg", "Git logo", "20vw" %}</a></div>
<div data-skill="GitHub" class="w-14"><a href="https://www.github.com">{% image "https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg", "GitHub logo", "20vw" %}</a></div>
<div data-skill="GitLab" class="w-14"><a href="https://www.gitlab.com">{% image "https://upload.wikimedia.org/wikipedia/commons/1/18/GitLab_Logo.svg", "GitLab logo", "20vw" %}</a></div>
<div data-skill="Java" class="w-12"><a href="https://www.oracle.com/java">{% image "https://upload.wikimedia.org/wikipedia/de/e/e1/Java-Logo.svg", "Java logo", "20vw" %}</a></div>
<div data-skill="JavaScript" class="w-16"><a href="https://www.iso.org/standard/55755.html">{% image "https://upload.wikimedia.org/wikipedia/commons/9/99/Unofficial_JavaScript_logo_2.svg", "JavaScript logo", "20vw" %}</a></div>
<div data-skill="NeoVim" class="w-12"><a href="https://neovim.io">{% image "https://github.com/neovim/neovim.github.io/raw/master/logos/neovim-mark.svg", "NeoVim logo", "20vw" %}</a></div>
<div data-skill="R" class="w-16"><a href="https://www.r-project.org">{% image "https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/R_logo.svg/1200px-R_logo.svg.png", "R logo", "20vw" %}</a></div>
<div data-skill="React" class="w-20"><a href="https://reactjs.org">{% image "https://upload.wikimedia.org/wikipedia/commons/a/a7/React-icon.svg", "React logo", "20vw" %}</a></div>
<div data-skill="RxJS" class="w-16"><a href="https://rxjs.dev">{% image "https://github.com/ReactiveX/rxjs/raw/master/resources/CI-CD/logo/svg/RxJs_Logo_Basic.svg", "RxJS logo", "20vw" %}</a></div>
<div data-skill="Scala" class="w-16"><a href="https://scala-lang.org">{% image "https://cdn.iconscout.com/icon/free/png-256/scala-226059.png", "Scala logo", "20vw" %}</a></div>
<div data-skill="Terraform" class="w-16"><a href="https://www.terraform.io">{% image "https://www.terraform.io/assets/images/og-image-8b3e4f7d.png", "Terraform logo", "20vw" %}</a></div>
<div data-skill="TypeScript" class="w-16"><a href="https://www.typescriptlang.org">{% image "https://upload.wikimedia.org/wikipedia/commons/4/4c/Typescript_logo_2020.svg", "TypeScript logo", "20vw" %}</a></div>
{% endblock %}
