---
layout: "base.template.njk"
pagination:
  data: collections.blog
  size: 12
  alias: posts
  reverse: true
---
{% import "macros.njk" as macros %}

{%- block main -%}

<div class="text-center __section-gray">
  <h1>Blog</h1>
  <p class="text-gray-500">You are viewing my blog posts <span class="italic">by time</span>. You can view them <a href="/blog/tags/" class="px-2 py-1 bg-white rounded hover:bg-red-100 hover:text-red-700">by tags</a> instead.</p>
  <nav class="mt-4 lg:mt-4 __pagination">
    <ol class="flex justify-center">
      <li class="inline-block">{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">&larr;</a>{% endif %}</li>
      {%- for pageEntry in pagination.pages %}
      <li class="inline-block"><a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>{{ loop.index }}</a></li>
      {%- endfor %}
      <li class="inline-block">{% if pagination.href.next %}<a href="{{ pagination.href.next }}">&rarr;</a>{% endif %}</li>
    </ol>
  </nav>
</div>

<div class="px-4">
  <ul class="grid grid-cols-1 gap-8 divide-y sm:grid-cols-2 sm:divide-y-0 md:grid-cols-3">
    {% for post in posts %}
    <li class="pt-8">{{ macros.postwidget(post) }}</li>
    {% endfor %}
  </ul>
</div>

<div class="mt-12 __section-gray">
  <h1 class="text-center">Tags of blog posts</h1>
  {% include "list-of-tags.njk" %}
</div>

{%- endblock %}
