---
layout: "base.template.njk"
---

{%- import "macros.njk" as macros -%}

<section class="__introduction">
  <div class="px-4 py-12 bg-gradient-to-t from-gray-50 to-white lg:rounded">
    <div class="__profile-photo">
      {% image "./src/images/profile.jpg", "profile photo", "50vw" %}
    </div>
    <div class="w-4/5">
      <h1 class="pb-2 text-4xl">Let your projects fly</h1>
      <p>
        Amet magni consectetur aliquam optio nisi, earum Vitae assumenda
        doloribus veritatis pariatur omnis Aliquid quibusdam necessitatibus
        excepturi deserunt quae Quo deserunt non ullam nesciunt quam. Nisi
        ipsa eum ratione molestias?
      </p>
      <div class="flex mt-6 space-x-4">
        <a href="/#contact" class="flex-1 text-blue-700 bg-blue-100 __btn">Contact me</a>
        <a href="/portfolio/" class="flex-1 __btn __btn-primary">Portfolio &rarr;</a>
      </div>
    </div>
  </div>

  <div class="__section-white">
    <div class="w-4/5 ml-auto">
      <h1 class="pb-2 text-4xl">Lorem impsum dolor sit amet</h1>
      <p>
        Amet magni consectetur aliquam optio nisi, earum Vitae assumenda
        doloribus veritatis pariatur omnis Aliquid quibusdam necessitatibus
        excepturi deserunt quae Quo deserunt non ullam nesciunt quam. Nisi
        ipsa eum ratione molestias?
      </p>
    </div>
  </div>

  <div class="__section-gray">
    <div class="w-4/5">
      <h1 class="pb-2 text-4xl">Lorem impsum dolor sit amet</h1>
      <p>
        Amet magni consectetur aliquam optio nisi, earum Vitae assumenda
        doloribus veritatis pariatur omnis Aliquid quibusdam necessitatibus
        excepturi deserunt quae Quo deserunt non ullam nesciunt quam. Nisi
        ipsa eum ratione molestias?
      </p>
    </div>
  </div>

  <div class="px-4 py-4 overflow-hidden lg:my-4">
    <div class="p-4 __terminal rounded-md w-96 sm:w-full bg-[#1d1f21]">
      <div class="flex pb-4 space-x-2">
        <div class="w-3 h-3 bg-red-500 rounded-full"></div>
        <div class="w-3 h-3 bg-yellow-500 rounded-full"></div>
        <div class="w-3 h-3 bg-green-500 rounded-full"></div>
      </div>
      {% include "react-example.njk" %}
    </div>
  </div>
</section>

<section class="text-center __skills __section-gray">
  {% include "skills.njk" %}
</section>

<section class="px-4 py-12 bg-white sm:px-6 lg:pt-24 lg:pb-28 lg:px-8">
  <div
    class="relative max-w-lg mx-auto divide-y-2 divide-gray-200 lg:max-w-7xl"
  >
    <div>
      <h1 class="pb-2 text-4xl">Recent blog posts</h1>
      <p class="text-gray-600">
        From time to time I publish short articles about topics that I am
        interested in. Among others, these include:
        {%- for tag in ( collections | keys | exclude(['all']) | shuf ).slice(0, 3) %}
        <a href="/tags/{{ tag }}/" class="inline-block underline lowercase">#{{ tag }}</a>
        {%- endfor %}. The following is a selection of most recently
        published posts.
      </p>
    </div>
    <div
      class="pt-12 mt-12 grid gap-8 lg:grid-cols-3 lg:gap-x-5 lg:gap-y-12"
    >
      {% for post in ( collections.blog | reverse ).slice(0, 3) %}
      {{ macros.postwidget(post) }}
      {% endfor %}
    </div>
  </div>
</section>

<section>
  <div class="text-center __section-gray">
    <p class="text-gray-500">What clients said:</p>
    <blockquote class="mt-8">
      <p class="font-serif text-3xl italic">&raquo;<span>Cool guy with cool sunglases.</span>&laquo;</p>
      <footer>
        <img class="w-10 h-10 mx-auto mt-12 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixqx=VhR4opO16h&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
        <div class="mt-2 text-lg font-semibold">Tom Sawyer</div>
        <div class="text-gray-600">CEO Superduper Company</div>
      </footer>
    </blockquote>
  </div>
</section>

<section class="text-center __interests __section-white">
  {% include "interests.njk" %}
</section>

<div class="__section-gray">
  <div class="mb-8 md:mx-auto max-w-screen-md">
    <a name="contact"><h1 class="pb-2 text-4xl">Contact</h1></a>
    <p class="text-gray-600">
      Do you have question about my work or would like to collaborate on
      a project? I am always happy to receive mail in my inbox, exchange
      ideas and discuss work opportunities.
    </p>
  </div>
  <div class="max-w-screen-md md:mx-auto">
    <form action="https://formsubmit.co/me@niklaas.eu" method="POST">
      <label class="block text-sm font-medium" for="given-name">First name<span class="inline-block w-1 h-1 ml-1 text-xs align-top bg-blue-600 rounded-full" /></label>
      <input class="w-full px-3 py-2 mt-1 border-gray-300 shadow-sm rounded-md" type="text" name="given-name" id="given-name" autocomplete="given-name" required />

      <label class="block mt-4 text-sm font-medium" for="family-name">Last name<span class="inline-block w-1 h-1 ml-1 text-xs align-top bg-blue-600 rounded-full" /></label>
      <input class="w-full px-3 py-2 mt-1 border-gray-300 shadow-sm rounded-md" type="text" name="family-name" id="family-name" autocomplete="family-name" required />

      <label class="block mt-4 text-sm font-medium" for="organization">Company</label>
      <input class="w-full px-3 py-2 mt-1 border-gray-300 shadow-sm rounded-md" type="text" name="organization" id="organization" autocomplete="organization" />

      <label class="block mt-4 text-sm font-medium" for="email">Email<span class="inline-block w-1 h-1 ml-1 text-xs align-top bg-blue-600 rounded-full" /></label>
      <input class="w-full px-3 py-2 mt-1 border-gray-300 shadow-sm rounded-md" type="text" name="email" id="email" autocomplete="email" required />

      <label class="block mt-4 text-sm font-medium" for="message">Message<span class="inline-block w-1 h-1 ml-1 text-xs align-top bg-blue-600 rounded-full" /></label>
      <textarea class="w-full h-64 px-3 py-2 mt-1 border-gray-300 shadow-sm rounded-md" type="text" name="message" id="message" required></textarea>

      <button class="w-full mt-4 __btn-primary" type="submit">Let's talk</button>
    </form>
  </div>
</div>
